<%- include("partials/header") -%>

<h1>Compose</h1>
 <form action="/compose" method="post">
  <label for="composeWord">Title</label>
  <br>
  <input type="text" name="composeWord">

  <br><br>

  <label for="composeMessage">Your Post</label>
  <br>
  <textarea name="composeMessage" id=""></textarea>

  <br><br>

  <button type="submit" name="button">Publish</button>
 </form>


 

<%- include("partials/footer") -%>